<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dance Forms</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/dance.css">
</head>
<body>
    <div id="header-container"></div>
<div class="container">
    <h1>Dance Forms</h1>
    <div class="card-container">
        <!-- Dance cards will be dynamically inserted here -->
        <% dances.forEach(dance => { %>
            <div class="card" onclick="openDialog('<%= dance.name %>', '<%= dance.type %>', '<%= dance.origin %>', '<%= dance.description %>')">
                <span><h2 class="name"><%= dance.name %></h2></span>
            </div>
        <% }) %>
    </div>
</div>

<!-- Dialog box -->
<div id="dialog" class="dialog">
    <div class="dialog-content">
        <span class="close" onclick="closeDialog()">&times;</span>
        <div class="dialog-details">
            <img id="dialog-image" src="" alt="Dance Image">
            <div id="dialog-info">
                <h2 id="dialog-name"></h2>
                <p><strong>Type:</strong> <span id="dialog-type"></span></p>
                <p><strong>Origin:</strong> <span id="dialog-origin"></span></p>
                <p><strong>Description:</strong> <span id="dialog-description"></span></p>
            </div>
        </div>
    </div>
</div>
<center><a href="/music"><button>back</button></a></center>

<script src="/javascript/footer.js"></script>
<script src="/javascript/header.js"></script>
<script src="/javascript/dance.js"></script>
</body>
</html>
